{% extends "base.html" %}

{% block content %}
<div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <h1 style="text-align:center; color: blue"> Inventory </h1>
                            <tr>
                                <th> Name </th>
                                <th> Price </th>
                                <th> Quantity </th>
                            </tr>
                               
                            
                            <form class="form-inline" method='POST'>
                            {% for post in posts %}
                            <tr>

                                <td class="success"><input type="text" class="form-control" name="product" value="{{post['product']}}"></input></td>
                                <td class="danger"><input type="text" class="form-control" name="price" value="{{post['price']}}"></input></td>
                                <td class="info"> <input type = "number" class="form-control" name="quantity" placeholder="Quantity"></td>
                            </tr>
                             {% endfor %}
                                <td> <input class='btn btn-primary btn-block btn-lg' type='submit' value="Add to Cart" name="add"/> </td>
                                <td> <input class='btn btn-primary btn-block btn-lg' type='submit' value="Update" name="update"/> </td>
                            </form>
                            <tr>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <table class="table table-bordered">
                            <h1 style="text-align:center; color: red"> Cart </h1>
                            <tr>
                                <th> Name </th>
                                <th> Price </th>
                            </tr>
                            <tr>
                                <td class="success"> </td>
                                <td class="danger"> </td>
                            </tr>
                        </table>
                    </div>
                <div class="col-md-1"></div>
            </div>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading"><center> Add New Product </center></div>
                            <div class="panel-body">
                                <form class='form-inline' method='post' >
                                    <div class="form-group">
                                        <label for="product" style = "margin-right: 30px"> Product </label>
                                        <input type="text" class="form-control" name="product" placeholder="Product" style="margin-bottom: 10px;">
                                    </div>
                                    <div class="form-group">
                                        <label for="price" style = "margin-right: 50px"> Price </label>
                                        <input type="text" class="form-control" name="price" placeholder="PHP 0.00" style="margin-bottom: 10px">
                                    </div>
                                    <input class='btn btn-primary btn-block btn-lg' type='submit' value="Add" style="margin-bottom: -20px"/>
                                 </form>
                            </div>
                        </div>

                        {% with messages = get_flashed_messages(category_filter=["create_post_success"]) %}
                            {% for message in messages %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <center>
                                    {{message}}
                                </center>
                                </div>
                            {% endfor %}
                        {% endwith%}
                    </div>
                    <div class="col-md-4"></div>
                </div>
            </div>


{% endblock %}