<html>
    <head>
        <title>React Examples{% block pagetitle %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/global.css')}}"/>

        {% block cssimports %}
        {% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Reactjs Activity</a>
                </div>
            </div>
        </nav>
        <div class='container'>
            <table style="width:70%;margin-top:30px;">
                <tr>
<!--                     <td style="width:50%;">
                        <ul>
                            <li><a href={{ url_for('default.one') }}>Simple Box</a></li>
                            <li><a href={{ url_for('default.two') }}>More Components!</a></li>
                            <li><a href={{ url_for('default.three') }}>Nested Components</a></li>
                            <li><a href={{ url_for('default.four') }}>Properties and Inline Stylesheets</a></li>
                            <li><a href={{ url_for('default.five') }}>Data Processing</a></li>
                            <li><a href={{ url_for('default.six') }}>API Consumption</a></li>
                            <li><a href={{ url_for('default.seven') }}>Periodic Update</a></li>
                            <li><a href={{ url_for('default.eight') }}>API Post Request</a></li>
                            <li><a href={{ url_for('default.nine') }}>Mixins, Defaults and PropTypes</a></li>
                            <li><a href={{ url_for('default.ten') }}>PropType OneOf</a></li>
                            <li><a href={{ url_for('default.eleven') }}>PropType Custom Validation</a></li>
                            <li><a href={{ url_for('default.twelve') }}>Seach Example</a></li>
                        </ul>
                    </td> -->
                </tr>
            </table>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                        {% block content %}
                        {% endblock %}
                </div>
            </div>
        </div>
        <script type="text/javascript" src="{{url_for('static', filename='js/jquery.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/react.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/react/0.12.0/JSXTransformer.js"></script>
    
        

        {% block jsimports %}
        {% endblock %}
    </body>
</html>